@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #1e1e1e;
}

a {
  color: skyblue;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #322e2e;
  border-radius: 7px;
  background: #160101;
}
 
::-webkit-scrollbar-thumb {
  background: #ffc760; 
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b58f4a; 
}

.scroller {
  height: 100vh;
  overflow-y: scroll;
  scrollbar-color: #ffc760 #160101;
  scrollbar-width: auto;
}
